<div class="container" id="containerVisualization">


    <div class="card testimonial-card">

        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>
        <form novalidate [formGroup]="formVisualization">
            <div class="card-body">
                <!--Name-->
                <div class="card-title">
                    <div class="form-group">
                        <button type="button" class="close" aria-label="Close" (click)="closeVisualization()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>{{formVisualization.value.name}}</h4>


                    </div>
                    <hr>
                </div>

                <!--Quotation-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>CPF:</label>
                            <input type="text" name="cpf" id="cpf" class="form-control input-lg" placeholder="000.000.000-00" tabindex="1" formControlName="cpf"
                                readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>RG:</label>
                            <input type="text" name="rg" id="rg" class="form-control input-lg" placeholder="00.000.000-0" tabindex="2" formControlName="rg"
                                readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="name@example.com" tabindex="4" formControlName="email"
                                readonly>
                        </div>
                    </div>
                </div>

                <br>
                <h6>
                    <b>Contatos</b>
                </h6>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Residencial:</label>
                            <input type="text" name="rg" id="rg" class="form-control input-lg" tabindex="2" formControlName="phoneResidencial" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Celular:</label>
                            <input type="text" name="rg" id="rg" class="form-control input-lg" tabindex="2" formControlName="phoneCel" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Recado:</label>
                            <input type="text" name="rg" id="rg" class="form-control input-lg" formControlName="phoneRecado" readonly>
                        </div>
                    </div>
                </div>
                <br>
                <h6>
                    <b>Endereços</b>
                </h6>
                <hr>
                <!--Endereços -->

                <!-- Endereço Residencial -->
                <div formGroupName="enderecoResidencial">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tipo:</label>
                                <input type="text" name="tipoEndR" id="tipoEndR" class="form-control input-lg" tabindex="2" value="RESIDENCIAL" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Logradouro:</label>
                                <input type="text" name="logradouroEndR" id="logradouroEndR" class="form-control input-lg" tabindex="2" formControlName="streetR"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Nº:</label>
                                <input type="text" name="nEndR" id="nEndR" class="form-control input-lg" tabindex="2" formControlName="numberR" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bairro:</label>
                                <input type="text" name="neighborhoodEndR" id="neighborhoodEndR" class="form-control input-lg" tabindex="2" formControlName="neighborhoodR"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Completo:</label>
                                <input type="text" name="complementEndR" id="complentEndR" class="form-control input-lg" tabindex="2" formControlName="complementR"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <input type="text" name="cityEndR" id="cityEndR" class="form-control input-lg" tabindex="2" formControlName="cityR" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Estado:</label>
                                <input type="text" name="stateEndR" id="stateEndR" class="form-control input-lg" tabindex="2" formControlName="stateR" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Endereço Comercial -->
                <div formGroupName="enderecoComercial">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tipo:</label>
                                <input type="text" class="form-control input-lg" value="COMERCIAL" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Logradouro:</label>
                                <input type="text" class="form-control input-lg" formControlName="streetC" readonly>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Nº:</label>
                                <input type="text" class="form-control input-lg" formControlName="numberC" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bairro:</label>
                                <input type="text" class="form-control input-lg" formControlName="neighborhoodC" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Completo:</label>
                                <input type="text" class="form-control input-lg" formControlName="complementC" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <input type="text" class="form-control input-lg" formControlName="cityC" readonly>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Estado:</label>
                                <input type="text" class="form-control input-lg" formControlName="stateC" readonly>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
        <!--/.Card-->
        <!--/.Card-->

    </div>
</div>