.btn{
  background-color: #18638c;
}
.card{

    border-radius: 20px;
  }

 
  .card-header{
    background-color: #18638c;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 10px;
  }



// ******************************* TELEFONE *********************************

// ******************************* CONTAINER *********************************
.select-phone{
  width: 110%;
}

#divAdicionarTelefone{
  margin-right: inherit;
} 

#btnAddPhoneToForm{
  float: left;
}